service: serverlessGit


plugins:
 ## offline use
  - serverless-offline
  - serverless-dynamodb-local
  - serverless-webpack
package:
  individually : true

frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: nodejs12.x
  # stage: ${opt:stage,'dev'}
  # profile: serverlessUser if we push to git and we do not deploy directly we do not have to have a profile
  region: us-east-1
  environment:
    stage:  ${self:custom.stage}
    tableName : ${self:custom.tableName.${env:stage}}
    imageUploadBucket: ${self:custom.imageUploadBucket.${env:stage}}
    # tableName : ${self:custom.tableName.${self:custom.stage}}
    # imageUploadBucket: ${self:custom.imageUploadBucket.${self:custom.stage}}
    # tableName: ${self:custom.tableName}
    # imageUploadBucket: ${self:custom.imageUploadBucket}
    region: ${self:provider.region}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
        - s3:*
        - ses:*
      Resource: '*'

functions:
  - ${file(./lambdas/endpoints/imageUpload/image.yml)}
  - ${file(./lambdas/endpoints/playerPoints/player.yml)}

custom:
  # stage: dev
  stage:  ${{ secrets.stage }}
  tableName: 
    prod: s-player-points-prod
    dev: s-player-points-dev
  
  imageUploadBucket: 
    prod: s-my-image-upload-bucket-demo-sws-prod
    dev: s-my-image-upload-bucket-demo-sws-dev


  ## offline use
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      migrate: true
    migration:
      dir: offline/migrations

resources:
  - ${file(./resources/s3.yml)}
  - ${file(./resources/dynamodb.yml)}